body {
    color: white;
    background: #303030;
}

.accent {
    background: #4CAF50 !important;
}

.accent-text {
    color: #4CAF50 !important;
}

p {
    margin: 0;
}

/* header */
.header {
    background: #303030;
}

.header > .right {
    margin-top: 5px;
}

.searchwrap {
    padding: 5px 60px;
    background: #212121;
}

/* thinbar */
.thinbar {
    padding: 7.5px 17.5px;
    width: 100%;
    background: #212121;
}

.thinbar > .right {
    margin-top: -32.5px;
}

/* tabs */
.tabs {
    background: #212121;
}

.col.s12 {
    margin: 0;
    padding: 0;
}

.tabs .indicator {
    background-color: #4CAF50;
}

.tabs .tab a:hover, .tabs .tab a.active {
    color: #4CAF50;
}

.tabs .tab a {
    color: #388E3C;
}

/* progress */
.progress {
    margin: 0;
    background: #202020;
    /*display: none;*/
}

.progress > .indeterminate, .progress > .determinate {
    background: #4CAF50;
}

/* file item container */
#catalogue, #installed {
    padding: 15px;
}

.catitem {
    background: #262626;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
}

.catitem > .header {
    text-transform: uppercase;
    font-size: 14px;
    padding: 15px 30px;
    border-radius: 5px;
    background: #262626;
}

.catitem > .header > .right {
    margin-top: -28px;
}

.catitem > .scroll {
    overflow-y: hidden;
    overflow-x: auto;
}

.catitem > .scroll > .items {
    padding: 15px;
    max-height: 164px;
    min-width: 100%;
    white-space: nowrap;
}

.catitem > .scroll > .items > .item {
    background: #424242;
    width: 134px;
    min-height: 134px;
    padding: 10px;
    border-radius: 5px;
    margin-right: 15px;
    display: inline-block;
}

.catitem > .scroll > .items > .item > .center-align > img {
    height: 64px;
    width: auto;
    margin-bottom: 10px;
}

.catitem > .scroll > .items > .item > .title {
    font-size: 15px;
}

.catitem > .scroll > .items > .item > .corner {
    bottom: 0;
    right: 0;
    margin: 5px 7.5px;
    position: absolute;
    font-size: 12px;
    text-transform: uppercase;
    color: #4CAF50;
}

/* settings */
.settings-pane {
    padding: 15px;
}

/* modals */
.modal .modal-content {
    background: #424242;
}

.modal .modal-footer {
    background-color: #424242;
}

.modal.modal-fixed-footer .modal-footer {
    border-top: none;
}

/* onboarding */
.onboarding {
    padding: 15px;
}

.onboarding > p {
    font-size: 16px;
}

.onboarding > .title {
    font-weight: 300;
    font-size: 18px;
}

.onboarding > form > #error {
    display: none;
}